<main>
    <div id="g_id_onload"
        data-client_id="187270451087-vttq5ml38pu40aeh5g5kvffjkc84qr3b.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="/home"
        data-auto_prompt="false">
    </div>
    <div id="login-center">
        <header id="login-header">
            <div id="login-header-rowA">
                <button id="login-close">
                    <img id="login-close-cross" src="/assets/imgs/cross.svg"/>
                </button>
                <img id="login-tweeter-logo" src="/assets/imgs/logo.svg"/>
            </div>
            <div id="login-header-rowB">
                <h1>Sign in to Tweeter</h1>
            </div>
        </header>
        <div id="oauth-logins">
            <!--
            <button 
                id="google-login-button"
            >
                <img 
                    id="google-login-button-logo" 
                    class="oauth-button-logo"
                    src="/assets/imgs/google-logo.svg"
                />
                <span 
                    id="google-login-button-text"
                    class="oauth-button-text"
                >
                    Sign in with Google
                </span>
            </button>
            -->
            <div id="google-button"></div>
            <button id="facebook-login-button">
                <img 
                    id="facebook-login-button-logo" 
                    class="oauth-button-logo"
                    src="/assets/imgs/facebook-logo.svg"
                />
                <span
                    id="facebook-login-button-text"
                    class="oauth-button-text"
                >
                    Sign in with Facebook
                </span>
            </button>
            <button id="apple-login-button">
                <img 
                    id="apple-login-button-logo" 
                    class="oauth-button-logo"
                    src="/assets/imgs/apple-logo.svg"
                />
                <span 
                    id="apple-login-button-text"
                    class="oauth-button-text"
                >
                    Sign in with Apple
                </span>
            </button>
            <button id="microsoft-login-button">
                <img 
                    id="microsoft-login-button-logo" 
                    class="oauth-button-logo"
                    src="/assets/imgs/microsoft-logo.svg"
                />
                <span 
                    id="microsoft-login-button-text"
                    class="oauth-button-text"
                >
                    Sign in with Microsoft
                </span>
            </button>
        </div>
        <div id="login-seperator">
            <div id="login-seperator-main">
                <hr id="login-seperator-left-line"/>
                <div id="login-seperator-text">
                    or
                </div>
                <hr id="login-seperator-right-line"/>
            </div>
        </div>
        <div id="login-username">
            <div id="login-username-input">
                <label id="login-username-label" for="login-username-field">Phone, email, or username</label>
                <input id="login-username-field" type="text" />
            </div>
        </div>
        <div id="login-buttons">
            <button id="login-next-button">Next</button>
            <button id="login-forgot-password-button">Forgot Password?</button>
        </div>
        <div id="new-account-block">
            <span id="new-account-text">{{"Don't have an account? "}}<a id="sign-up-link" href="/sign-up">Sign Up</a></span>
            
        </div>
    </div>
</main>