<main>
    <div id="sign-up-center">
        <header id="sign-up-header">
            <div id="sign-up-header-rowA">
                <button id="sign-up-close">
                    <img id="sign-up-close-cross" src="/assets/imgs/cross.svg"/>
                </button>
                <img id="sign-up-tweeter-logo" src="/assets/imgs/logo.svg"/>
            </div>
            <div id="sign-up-header-rowB">
                <h1>Join Tweeter Today</h1>
            </div>
        </header>
        <div id="oauth-sign-ups">
            <button id="google-sign-up-button">
                <img 
                    id="google-sign-up-button-logo" 
                    class="oauth-button-logo"
                    src="/assets/imgs/google-logo.svg"
                />
                <span 
                    id="google-sign-up-button-text"
                    class="oauth-button-text"
                >
                    Sign up with Google
                </span>
            </button>
            <button id="facebook-sign-up-button">
                <img 
                    id="facebook-sign-up-button-logo" 
                    class="oauth-button-logo"
                    src="/assets/imgs/facebook-logo.svg"
                />
                <span
                    id="facebook-sign-up-button-text"
                    class="oauth-button-text"
                >
                    Sign up with Facebook
                </span>
            </button>
            <button id="apple-sign-up-button">
                <img 
                    id="apple-sign-up-button-logo" 
                    class="oauth-button-logo"
                    src="/assets/imgs/apple-logo.svg"
                />
                <span 
                    id="apple-sign-up-button-text"
                    class="oauth-button-text"
                >
                    Sign up with Apple
                </span>
            </button>
            <button id="microsoft-sign-up-button">
                <img 
                    id="microsoft-sign-up-button-logo" 
                    class="oauth-button-logo"
                    src="/assets/imgs/microsoft-logo.svg"
                />
                <span 
                    id="microsoft-sign-up-button-text"
                    class="oauth-button-text"
                >
                    Sign up with Microsoft
                </span>
            </button>
        </div>
        <div id="sign-up-seperator">
            <div id="sign-up-seperator-main">
                <hr id="sign-up-seperator-left-line"/>
                <div id="sign-up-seperator-text">
                    or
                </div>
                <hr id="sign-up-seperator-right-line"/>
            </div>
        </div>
        <div id="create-account-block">
            <button id="create-account-button">
                Create Account
            </button>
        </div>
        <div id="sign-up-legal-policy-block">
            <div id="sign-up-legal-policy">
                By signing up, you agree to the 
                <a>
                    Terms of Service
                </a> 
                and 
                <a>
                    Privacy Policy
                </a>
                , including 
                <a>
                    Cookie Use
                </a>
                .
            </div>
        </div>
        <div id="existing-account-block">
            <div id="existing-account-text">
                Have an account already?
                <a id="login-link" href="/login">Log in</a>
            </div>
        </div>
    </div>
</main>