main {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    background-color: rgb(236, 236, 236);
    padding: 0 0 20px 0;
}
#bookmarks {
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    width: fit-content;
}
#bookmarks-column-1 {
    margin: 0 40px 0 0;
}
#bookmarks-column-2 {
    min-width: 642px;
}
#bookmarked-posts {
    display: flex;
    flex-flow: column;
}
#bookmarks-filter {
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(155, 155, 155);
    background-color: white;
    padding: 20px 0 20px 0;
    margin: 20px 0 0 0;
    display: flex;
    flex-flow: column;
}
#bookmarks-filter-tweets, #bookmarks-filter-tweetsAndReplies, #bookmarks-filter-media, #bookmarks-filter-likes {
    border-style: solid;   
    border-width: 0 0 0 5px;
    border-color: rgba(0, 0, 0, 0);
    background-color: white;
    font-family: Roboto;
    font-size: 12pt;
    height: 40px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: rgb(83, 83, 83);
}
#bookmarks-filter-tweets:hover, #bookmarks-filter-tweetsAndReplies:hover, #bookmarks-filter-media:hover, #bookmarks-filter-likes:hover {
    background-color: rgb(243, 243, 243);
}
#bookmarks-filter-tweets.active, #bookmarks-filter-tweetsAndReplies.active, #bookmarks-filter-media.active, #bookmarks-filter-likes.active {
    border-color: rgba(28, 140, 214, 1);
    color: rgb(20, 101, 155);
}